/* Task 2.2 */
h1 {
    font-family: sans-serif;
}
p {
    font-family: serif;
}
a {
    color: darkgreen;
}
del {
    color: grey;
}
mark {
    color: darkblue;
    background-color: pink;
}
h2 {
    font-family: sans-serif;
    text-align: left;
}
pre {
    font-family: monospace;
}
/* Task 2.3 */
h3 {
    color: rgba(0, 0, 139, 0.8);
}
.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}
/* Task 2.4 */
body {
    background-color: #DCF5F5;
    background-image: url("cross.png");
    background-repeat: repeat;
    background-position: top left;
}
/* Task 2.5 */
#content {
    background-color: white;
}
.blue {
    color: blue;
}
.fancy {
    font-family: cursive;
}
/* Task 2.6 */
#content { /* I know i should combine this with the previous content id, but I want the tasks to be seperate */
    border: 1px solid darkgrey;
    border-radius: 8px;
}
.red-border {
    border: solid red;
}
hr {
    border-color: #CFDFE4;
}
.red-outline {
    outline: solid red;
}
.blue-border {
    border: solid blue;
}
.red-border-top {
    border: solid red;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blue-border-bottom {
    border: solid blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* Task 2.7 */
.parent-div {
    /* Both parents have a blue background */
    background-color: blue;
}
.inner-div {
    /* Both nested divs have yellow bg and 12px padding*/
    padding: 12px;
    background-color: yellow;
    text-align: right;
}

#first-inner-div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 700px;
    height: 200px;
}
#second-inner-div {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin: auto;
}

#second-div {
    margin-top: 20px;
}
/* Task 2.8 */
h1 {
    font-family: Raleway, sans-serif;
}
h2 {
    font-family: Raleway, sans-serif;
}
body {
    font-family: "Noto Serif", serif;
}
blockquote {
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}
h4 {
    font-family: Raleway, sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}
I {
    color: #DFCFD4;
}
#icons {
    text-align: center;
}
/* Task 2.9 */
/* Funny thing is that the given example and the page for this look kinda similar but not with the list menu at the top, but ehh, gradescope accepts it, so I aint changing it */
#list-menu {
    background-color: darkgrey;
    list-style-type: none;
}
#list-menu li {
    display: inline-block;
    margin: 10px;
}
#list-menu a {
    color: white;
    text-decoration: none;
}
#list-menu a:hover {
    background-color: white;
    color: darkgrey;
    text-shadow: 2px 2px 4px lightgrey;
}
ol {
    list-style-type: normal;
}
ol ul {
    list-style-type: square;
}
ol ul ol {
    list-style-type: lower-roman;
}
/* Task 2.10 */
#fancy-table {
    border-collapse: collapse;
    width: 500px;
}
#fancy-table tr {
    border-bottom: 1px solid darkgrey;
    height: 2em;
}
#fancy-table th {
    background-color: darkslategrey;
    color: white;
    font-weight: normal;
    text-align: left;
}
#fancy-table tr:nth-child(even) {
    background-color: #F8F8F8;
}
#fancy-table tr:nth-child(odd) {
    background-color: white;
}

#complex-table {
    border-collapse: collapse;
    width: 500px;
    border: 2px solid black;
}
#complex-table tr {
    height: 2em;
}
#complex-table th {
    background-color: palegoldenrod;
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    padding: 6px;
}
#complex-table td {
    border: 1px solid lightgrey;
    padding-left: 6px;
}
/* Task 2.11 */
.content-bg-and-border {
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 8px;
}
#bottom-content {
    margin-top: 10px;
    height: 400px;
}
#content-left {
    width: 150px;
    height: 400px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    text-align: left;
    float: left;
    margin-right: 10px;
}
#content-right {
    width: 440px;
    height: 400px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    position: relative;
}
.a600px-width-centred {
    /* For the divs that need to be 600px wide and centred on the page */
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
#red-box {
    width: 1000px;
    height: 100px;
    border: 1px solid red;
    position: absolute;
    top: 100px;
    left: 100px;
    box-sizing: border-box;
}